<html>
  <head>
    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        .infowindow-container {
            width: 330px;
        }
        .inner {
            display: inline-block;
            position: absolute;
            top: 0;
            padding: 10px;
        }
      </style>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="../static/geoview.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlwvA77gpZf0-WR-hNJmZoHtg5QaIRT3g&callback=initMap">
    </script>
  </body>
</html>
