<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="../static/geoview.js">
    </script>

    <script type="text/javascript" src="../static/geoview.js"></script>
    <script type="text/javascript">
    var reviews = [];
    var flag = 0;

    "{% for review in reviews %}"
      reviews[flag] = "{{review['geo_location']}}";
      flag++;
    "{% endfor %}"

    const locations = [
      {lat: 13, lng: 13},
        {lat: 13, lng: 13},
          {lat: 13, lng: 13},
            {lat: 13, lng: 13}
    ];

    initMap([reviews]);
    </script>

  </head>
  <body>
    <div id="map"></div>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlwvA77gpZf0-WR-hNJmZoHtg5QaIRT3g&callback=initMap">
    </script>
  </body>
</html>
