<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/alternatesearchstyle.css" rel="stylesheet" type="text/css"/>
</head>
    <body>
      <div class="topnav">
        <table border = 0>
          <tr><td>
        <a href="{{ url_for('root') }}"><img src="../static/logo-dark.png" width="130" height="40"></a></td><td>
        <a href="{{ url_for('preferences_show') }}">USER PREFERENCES</a></td><td class="active">
        <a href="{{ url_for('preferences_set') }}">CHOOSE PREFERENCES</a></td><td>
        <a href="{{ url_for('view_reviews') }}">FEED</a></td><td>
        <a href="{{ url_for('create_theme') }}">NEW THEME</a></td><td>
        <a href="{{ url_for('view_themes') }}">VIEW ALL THEMES</a></td><td>
        <a href="{{ url_for('create_review') }}">WRITE A REVIEW</a></td><td>
      </td>
      </tr>
      </table>
      </div>
<div class="topnav_footer"><i>If you want, you can choose your <b>prefered themes</b> here - they will affect what you see in your feed</i></div>
<div>
  <h1 >Setup user preferences</h1>
  <b>User email: </b> <br><br> {{details['email']}}
    <br><br>
    <dt><b>Your prefered themes are: </b></dt>
  <br>
  {% for theme in details['themes']%}
        <a>{{ theme }}</a><br>
        </dl>
        {% endfor %}

  <form method="POST" action="" enctype="multipart/form-data">
    <h1>Themes available for you to choose</h1>
    <select multiple size="10" id="th_preferences" name="th_preferences">
    {% for theme in all_themes %}
         <option value="{{theme}}">
            {{theme}}
         </option>
    {% endfor %}
    </select>
    <p><input type="submit" value="Submit"></p>
  </form>
<br><br>

</div>

</html>
