<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="alternatesearchstyle.css" rel="stylesheet" type="text/css"/>
    <style>
* {box-sizing: border-box;}
    </style>
</head>
<body>


<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#Feed">Feed</a>
  <a href="#Create Theme">Theme</a>
  <a href="#See All Themes">See All Themes</a>
  <a href="#Themes">Theme</a>
  <a href="#Preferences">Preferences</a>
  <a href="#Set Preferences">Set Preferences</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


<br>
<br>
<br>

<div style="padding-left:650px">
  <h1 >Setup user preferences</h1>
  <b>User email: </b>  {{details['email']}}
    <br>
  <b>User themes: </b>  {{details['themes']}}
    <br>

  <form method="POST" action="" enctype="multipart/form-data">
    <h1>Themes available for you to choose</h1>
    <select multiple size="10" id="th_preferences" name="th_preferences">
    {% for theme in all_themes %}
         <option value="{{theme}}">
            {{theme}}
         </option>
    {% endfor %}
    </select>
    <p><input type="submit" value="Submit"></p>
  </form>
<br><br>
<a href="{{ url_for('view_reviews') }}">Go to your Home Feed</a><br>
<a href="{{ url_for('preferences_show') }}">Back to preferences</a><br>
  <a href="{{ url_for('create_theme') }}">Create new theme</a>

</div>

</html>
