<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
      <link href="searchstyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="header">
        <form>
            <h1> Search Our Website</h1>

            <div class="form-box">
            <input type="text" class="search-field" placeholder="Tags, Themes" >
            <input type="text" class="search-field" placeholder="Location" >
            <button class = "search-btn" type="button"> Search </button>
        </form>
        </div>
    </div>
</body>

</html>
